In [5]:
import numpy as np
import pandas as pd

In [2]:
s=pd.Series([1,2,np.nan])

In [3]:
s

0    1.0
1    2.0
2    NaN
dtype: float64

In [4]:
s.sum

<bound method Series.sum of 0    1.0
1    2.0
2    NaN
dtype: float64>

In [5]:
s[0]

1.0

In [6]:
s.sum()

3.0

In [7]:
df = pd.DataFrame({'A':[1,2],'B':[3,4]})
df

   A  B
0  1  3
1  2  4

In [8]:
df= pd.DataFrame(np.random.randn(6,4))

In [9]:
df

          0         1         2         3
0 -0.278452 -0.183607 -0.061884 -0.740445
1 -1.103104  0.749876  1.478657  0.026995
2  0.883917  0.981721  0.853190 -0.276261
3 -0.376562 -1.340276  1.109372  0.606277
4  0.613708 -1.708828 -0.238878 -0.172457
5  1.697147 -0.818580  0.271676  1.099243

In [10]:
df= pd.DataFrame(np.random.randn(6,4),index=pd.date_range('20210618',periods=6))

In [11]:
df

                   0         1         2         3
2021-06-18  2.021468 -0.019176  1.310789 -0.156227
2021-06-19  1.248634  0.338645 -0.452453 -0.336067
2021-06-20 -0.201434 -0.617958 -0.871557 -0.556517
2021-06-21 -1.299198  1.052032  0.113766  0.867331
2021-06-22  1.364773 -0.362337 -0.781714 -0.749522
2021-06-23 -0.735136  0.216506 -2.236038 -1.147521

In [6]:
df= pd.DataFrame(np.random.randn(6,4),index=pd.date_range('20210618',periods=6),columns=['A','B','C','D'])
df

                   A         B         C         D
2021-06-18 -0.778569 -0.103032 -0.659427  0.773149
2021-06-19 -1.122910 -0.816378 -0.024775 -0.215418
2021-06-20  0.521523 -0.467308 -1.448625  2.148383
2021-06-21 -1.064372 -0.423746  0.209428  0.506046
2021-06-22 -0.422397 -0.753070 -1.844466 -0.015613
2021-06-23 -0.159353  0.387751  0.157908  1.982727

In [7]:
df.head(1)

                   A         B         C         D
2021-06-18 -0.778569 -0.103032 -0.659427  0.773149

In [8]:
df.tail(3)

                   A         B         C         D
2021-06-21 -1.064372 -0.423746  0.209428  0.506046
2021-06-22 -0.422397 -0.753070 -1.844466 -0.015613
2021-06-23 -0.159353  0.387751  0.157908  1.982727

In [9]:
df.index

DatetimeIndex(['2021-06-18', '2021-06-19', '2021-06-20', '2021-06-21',
               '2021-06-22', '2021-06-23'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
df.values

array([[-0.77856908, -0.1030318 , -0.65942678,  0.7731487 ],
       [-1.12291019, -0.81637837, -0.02477455, -0.21541796],
       [ 0.52152333, -0.46730796, -1.44862472,  2.14838294],
       [-1.06437181, -0.423746  ,  0.20942752,  0.5060456 ],
       [-0.42239677, -0.75307044, -1.84446607, -0.01561348],
       [-0.15935275,  0.38775129,  0.1579082 ,  1.98272669]])

In [13]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.504346 -0.362631 -0.601659  0.863212
std    0.624435  0.447993  0.875541  0.997641
min   -1.122910 -0.816378 -1.844466 -0.215418
25%   -0.992921 -0.681630 -1.251325  0.114801
50%   -0.600483 -0.445527 -0.342101  0.639597
75%   -0.225114 -0.183210  0.112238  1.680332
max    0.521523  0.387751  0.209428  2.148383

In [14]:
df.T

   2021-06-18  2021-06-19  2021-06-20  2021-06-21  2021-06-22  2021-06-23
A   -0.778569   -1.122910    0.521523   -1.064372   -0.422397   -0.159353
B   -0.103032   -0.816378   -0.467308   -0.423746   -0.753070    0.387751
C   -0.659427   -0.024775   -1.448625    0.209428   -1.844466    0.157908
D    0.773149   -0.215418    2.148383    0.506046   -0.015613    1.982727

In [15]:
df.sort_values(by="B")

                   A         B         C         D
2021-06-19 -1.122910 -0.816378 -0.024775 -0.215418
2021-06-22 -0.422397 -0.753070 -1.844466 -0.015613
2021-06-20  0.521523 -0.467308 -1.448625  2.148383
2021-06-21 -1.064372 -0.423746  0.209428  0.506046
2021-06-18 -0.778569 -0.103032 -0.659427  0.773149
2021-06-23 -0.159353  0.387751  0.157908  1.982727

In [17]:
df[0:3]

                   A         B         C         D
2021-06-18 -0.778569 -0.103032 -0.659427  0.773149
2021-06-19 -1.122910 -0.816378 -0.024775 -0.215418
2021-06-20  0.521523 -0.467308 -1.448625  2.148383

df['20210618':'20210620']

In [18]:
df['20210618':'20210620']

                   A         B         C         D
2021-06-18 -0.778569 -0.103032 -0.659427  0.773149
2021-06-19 -1.122910 -0.816378 -0.024775 -0.215418
2021-06-20  0.521523 -0.467308 -1.448625  2.148383

In [21]:
df.loc['20210618':'20210621',['A','B']]

                   A         B
2021-06-18 -0.778569 -0.103032
2021-06-19 -1.122910 -0.816378
2021-06-20  0.521523 -0.467308
2021-06-21 -1.064372 -0.423746

In [22]:
df.loc[:,['A','B']]

                   A         B
2021-06-18 -0.778569 -0.103032
2021-06-19 -1.122910 -0.816378
2021-06-20  0.521523 -0.467308
2021-06-21 -1.064372 -0.423746
2021-06-22 -0.422397 -0.753070
2021-06-23 -0.159353  0.387751

In [23]:
df.iloc[0,0]

-0.7785690835509567

In [24]:
df.iloc[0:2,0:2]

                   A         B
2021-06-18 -0.778569 -0.103032
2021-06-19 -1.122910 -0.816378

In [25]:
df[df>0]

                   A         B         C         D
2021-06-18       NaN       NaN       NaN  0.773149
2021-06-19       NaN       NaN       NaN       NaN
2021-06-20  0.521523       NaN       NaN  2.148383
2021-06-21       NaN       NaN  0.209428  0.506046
2021-06-22       NaN       NaN       NaN       NaN
2021-06-23       NaN  0.387751  0.157908  1.982727

In [26]:
df

                   A         B         C         D
2021-06-18 -0.778569 -0.103032 -0.659427  0.773149
2021-06-19 -1.122910 -0.816378 -0.024775 -0.215418
2021-06-20  0.521523 -0.467308 -1.448625  2.148383
2021-06-21 -1.064372 -0.423746  0.209428  0.506046
2021-06-22 -0.422397 -0.753070 -1.844466 -0.015613
2021-06-23 -0.159353  0.387751  0.157908  1.982727

In [27]:
df2 =df.copy()

In [29]:
df2['E']=['one','one','two','three','four','three']
df2

                   A         B         C         D      E
2021-06-18 -0.778569 -0.103032 -0.659427  0.773149    one
2021-06-19 -1.122910 -0.816378 -0.024775 -0.215418    one
2021-06-20  0.521523 -0.467308 -1.448625  2.148383    two
2021-06-21 -1.064372 -0.423746  0.209428  0.506046  three
2021-06-22 -0.422397 -0.753070 -1.844466 -0.015613   four
2021-06-23 -0.159353  0.387751  0.157908  1.982727  three

In [30]:
df

                   A         B         C         D
2021-06-18 -0.778569 -0.103032 -0.659427  0.773149
2021-06-19 -1.122910 -0.816378 -0.024775 -0.215418
2021-06-20  0.521523 -0.467308 -1.448625  2.148383
2021-06-21 -1.064372 -0.423746  0.209428  0.506046
2021-06-22 -0.422397 -0.753070 -1.844466 -0.015613
2021-06-23 -0.159353  0.387751  0.157908  1.982727

In [33]:
s=pd.Series([1,2,3,4,5,6],index=pd.date_range('20210618',periods=6))

In [34]:
s

2021-06-18    1
2021-06-19    2
2021-06-20    3
2021-06-21    4
2021-06-22    5
2021-06-23    6
Freq: D, dtype: int64

In [35]:
df.shift(1)

                   A         B         C         D
2021-06-18       NaN       NaN       NaN       NaN
2021-06-19 -0.778569 -0.103032 -0.659427  0.773149
2021-06-20 -1.122910 -0.816378 -0.024775 -0.215418
2021-06-21  0.521523 -0.467308 -1.448625  2.148383
2021-06-22 -1.064372 -0.423746  0.209428  0.506046
2021-06-23 -0.422397 -0.753070 -1.844466 -0.015613

In [37]:
df = pd.DataFrame(np.random.randn(2,2))
df

          0         1
0  1.183675  0.810526
1  0.395993  0.718907

In [38]:
pd.concat([df,df])

          0         1
0  1.183675  0.810526
1  0.395993  0.718907
0  1.183675  0.810526
1  0.395993  0.718907

In [42]:
df = pd.DataFrame(np.random.rand(8,4),columns=['A','B','C','D'])

In [43]:
df

          A         B         C         D
0  0.481957  0.432331  0.160989  0.198360
1  0.175037  0.198474  0.285923  0.419420
2  0.985624  0.443341  0.476775  0.547106
3  0.495689  0.600664  0.588967  0.289093
4  0.819511  0.925669  0.845992  0.388916
5  0.549136  0.053235  0.003194  0.801151
6  0.430476  0.446680  0.560421  0.211814
7  0.991314  0.830490  0.392966  0.130277

In [44]:
s=df.iloc[0]

In [45]:
s

A    0.481957
B    0.432331
C    0.160989
D    0.198360
Name: 0, dtype: float64

In [46]:
df.append(a)

NameError: name 'a' is not defined

In [47]:
df.append(s)

          A         B         C         D
0  0.481957  0.432331  0.160989  0.198360
1  0.175037  0.198474  0.285923  0.419420
2  0.985624  0.443341  0.476775  0.547106
3  0.495689  0.600664  0.588967  0.289093
4  0.819511  0.925669  0.845992  0.388916
5  0.549136  0.053235  0.003194  0.801151
6  0.430476  0.446680  0.560421  0.211814
7  0.991314  0.830490  0.392966  0.130277
0  0.481957  0.432331  0.160989  0.198360

In [48]:
df.append(s,ignore_index=True)

          A         B         C         D
0  0.481957  0.432331  0.160989  0.198360
1  0.175037  0.198474  0.285923  0.419420
2  0.985624  0.443341  0.476775  0.547106
3  0.495689  0.600664  0.588967  0.289093
4  0.819511  0.925669  0.845992  0.388916
5  0.549136  0.053235  0.003194  0.801151
6  0.430476  0.446680  0.560421  0.211814
7  0.991314  0.830490  0.392966  0.130277
8  0.481957  0.432331  0.160989  0.198360

In [55]:
df = pd.DataFrame({'A':['foo','bar','foo','bar'],'B':np.random.randn(4)})

In [56]:
df

     A         B
0  foo  0.501575
1  bar  0.742710
2  foo -0.501288
3  bar  1.198402

In [57]:
df.groupby('A').sum()

            B
A
bar  1.941112
foo  0.000287

ERROR: Could not find a version that satisfies the requirement pandes_datareader (from versions: none)
ERROR: No matching distribution found for pandes_datareader
Note: you may need to restart the kernel to use updated packages.

In [60]:
# import pandas_datareader

ModuleNotFoundError: No module named 'pandas_datareader'

In [1]:
# pip install pandes_datareader

ERROR: Could not find a version that satisfies the requirement pandes_datareader (from versions: none)
ERROR: No matching distribution found for pandes_datareader
Note: you may need to restart the kernel to use updated packages.

In [2]:
# pip install seaborn

Requirement already satisfied: seaborn in /Users/user/opt/anaconda3/lib/python3.8/site-packages (0.11.0)
Requirement already satisfied: matplotlib>=2.2 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from seaborn) (3.3.2)
Requirement already satisfied: pandas>=0.23 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from seaborn) (1.1.3)
Requirement already satisfied: scipy>=1.0 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from seaborn) (1.5.2)
Requirement already satisfied: numpy>=1.15 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from seaborn) (1.19.2)
Requirement already satisfied: cycler>=0.10 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.3.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (8.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: certifi>=2020.06.20 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2020.6.20)
Requirement already satisfied: pytz>=2017.2 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2020.1)
Requirement already satisfied: six in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
# pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.9.0-py3-none-any.whl (107 kB)
     || 107 kB 5.8 MB/s eta 0:00:01
Requirement already satisfied: lxml in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from pandas_datareader) (4.6.1)
Requirement already satisfied: requests>=2.19.0 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from pandas_datareader) (2.24.0)
Requirement already satisfied: pandas>=0.23 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from pandas_datareader) (1.1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (1.25.11)
Requirement already satisfied: numpy>=1.15.4 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/user/opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas_datareader

In [6]:
df = pandas_datareader.data.DataReader('AAPL','yahoo','2014-01-01')
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2013-12-31,20.045713,19.785713,19.791786,20.036428,223084400.0,17.819059
2014-01-02,19.893929,19.715000,19.845715,19.754642,234684800.0,17.568451
2014-01-03,19.775000,19.301071,19.745001,19.320715,392467600.0,17.182550
2014-01-06,19.528570,19.057142,19.194643,19.426071,412610800.0,17.276245
2014-01-07,19.498571,19.211430,19.440001,19.287144,317209200.0,17.152693
...,...,...,...,...,...,...
2021-06-14,130.539993,127.070000,127.820000,130.479996,96906500.0,130.479996
2021-06-15,130.600006,129.389999,129.940002,129.639999,62746300.0,129.639999
2021-06-16,130.889999,128.460007,130.369995,130.149994,91815000.0,130.149994
2021-06-17,132.550003,129.649994,129.800003,131.789993,96721700.0,131.789993
2021-06-18,131.509995,130.240005,130.710007,130.460007,108787300.0,130.460007