In [1]:
import numpy as np
import pandas as pd

In [2]:
s=pd.Series([1,2,np.nan])

In [3]:
s

0    1.0
1    2.0
2    NaN
dtype: float64

In [4]:
s.sum

<bound method Series.sum of 0    1.0
1    2.0
2    NaN
dtype: float64>

In [5]:
s[0]

1.0

In [6]:
s.sum()

3.0

In [7]:
df = pd.DataFrame({'A':[1,2],'B':[3,4]})
df

   A  B
0  1  3
1  2  4

In [8]:
df= pd.DataFrame(np.random.randn(6,4))

In [9]:
df

          0         1         2         3
0 -0.278452 -0.183607 -0.061884 -0.740445
1 -1.103104  0.749876  1.478657  0.026995
2  0.883917  0.981721  0.853190 -0.276261
3 -0.376562 -1.340276  1.109372  0.606277
4  0.613708 -1.708828 -0.238878 -0.172457
5  1.697147 -0.818580  0.271676  1.099243

In [10]:
df= pd.DataFrame(np.random.randn(6,4),index=pd.date_range('20210618',periods=6))

In [11]:
df

                   0         1         2         3
2021-06-18  2.021468 -0.019176  1.310789 -0.156227
2021-06-19  1.248634  0.338645 -0.452453 -0.336067
2021-06-20 -0.201434 -0.617958 -0.871557 -0.556517
2021-06-21 -1.299198  1.052032  0.113766  0.867331
2021-06-22  1.364773 -0.362337 -0.781714 -0.749522
2021-06-23 -0.735136  0.216506 -2.236038 -1.147521